<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.plugins.common.base.mapper.DatalabelMapper">

    <resultMap id="BaseResultMap" type="io.dataease.plugins.common.base.domain.Datalabel">
        <!--@Table datalabel-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="expression" column="expression" jdbcType="VARCHAR"/>
        <result property="desc" column="desc" jdbcType="VARCHAR"/>
        <result property="exp" column="exp" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="involve" column="involve" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="BOOLEAN"/>
        <result property="fieldType" column="field_type" jdbcType="VARCHAR"/>
        <result property="dataType" column="data_type" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, `name`, `desc`, exp, create_time, update_time, create_by, involve, is_delete, field_type, data_type,expression
        from datalabel
        where id = #{id} and is_delete=0
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, `name`, `desc`, exp, create_time, update_time, create_by, involve, is_delete, field_type, data_type
        from datalabel
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and `name` = #{name}
            </if>
            <if test="desc != null and desc != ''">
                and `desc` = #{desc}
            </if>
            <if test="exp != null and exp != ''">
                and exp = #{exp}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="involve != null">
                and involve = #{involve}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
            <if test="dataType != null">
                and data_type = #{dataType}
            </if>
            <if test="fieldType != null">
                and field_type = #{fieldType}
            </if>
            and is_delete=0
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="queryPageAllByLimit" resultMap="BaseResultMap">
        select
        id, `name`, `desc`,`expression`, exp, create_time, update_time, create_by, involve, is_delete, field_type, data_type
        from datalabel
        <where>
            <if test="keyWord != null and keyWord != ''">
                and name like concat('%',#{keyWord},'%')
            </if>
            <if test="time != null">
                and create_time >= #{time} and create_time &lt; #{plusOneTime}
            </if>
            and create_by = #{userId} and is_delete=0
        </where>
        limit #{pageNo}, #{pageSize}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, `name`, `desc`, exp, create_time, update_time, create_by, involve, is_delete, field_type, data_type
        from datalabel where is_delete=0
    </select>

    <select id="queryIdAndNameAll" resultMap="BaseResultMap">
        select
            id, `name`, `desc`,exp
        from datalabel where is_delete=0 and create_by = #{createBy}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from datalabel
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and `name` = #{name}
            </if>
            <if test="desc != null and desc != ''">
                and `desc` = #{desc}
            </if>
            <if test="exp != null and exp != ''">
                and exp = #{exp}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="involve != null">
                and involve = #{involve}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
            <if test="dataType != null">
                and data_type = #{dataType}
            </if>
            <if test="fieldType != null">
                and field_type = #{fieldType}
            </if>
            and is_delete=0
        </where>
    </select>

    <!--统计总行数-->
    <select id="simpleCount" resultType="java.lang.Long">
        select count(1)
        from datalabel
        <where>
            <if test="userId != null and userId != ''">
                and create_by = #{userId}
            </if>
            <if test="keyWord != null and keyWord != ''">
                and name like concat('%',#{keyWord},'%')
            </if>
            <if test="time != null">
                and create_time >= #{time} and create_time &lt; #{plusOneTime}
            </if>
        and is_delete=0
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into datalabel(`name`, `desc`, exp, create_time, update_time, create_by, field_type, data_type,expression)
        values (#{name}, #{desc}, #{exp}, #{createTime}, #{updateTime}, #{createBy},  #{fieldType},  #{dataType}, #{expression})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into datalabel(`name`, `desc`, exp, create_time, update_time, create_by, involve, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.desc}, #{entity.exp}, #{entity.createTime}, #{entity.updateTime}, #{entity.createBy}, #{entity.involve}, #{entity.isDelete})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into datalabel(`name`, `desc`, exp, create_time, update_time, create_by, involve, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.desc}, #{entity.exp}, #{entity.createTime}, #{entity.updateTime}, #{entity.createBy}, #{entity.involve}, #{entity.isDelete})
        </foreach>
        on duplicate key update
        `name` = values(`name`),
        `desc` = values(`desc`),
        exp = values(exp),
        create_time = values(create_time),
        update_time = values(update_time),
        create_by = values(create_by),
        involve = values(involve),
        is_delete = values(is_delete)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update datalabel
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="desc != null and desc != ''">
                `desc` = #{desc},
            </if>
            <if test="expression != null and expression != ''">
                `expression` = #{expression},
            </if>
            <if test="exp != null and exp != ''">
                exp = #{exp},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="involve != null">
                involve = #{involve},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test="dataType != null">
                data_type = #{dataType},
            </if>
            <if test="fieldType != null">
                field_type = #{fieldType},
            </if>
        </set>
        where id = #{id} and create_by = #{createBy}
    </update>

    <!--通过主键删除-->
    <update id="deleteById">
        update datalabel set is_delete=1 where id = #{id}  and create_by = #{createBy}
    </update>
    <update id="deleteBatch">
        update datalabel set is_delete=1 where id in (#{id}) and create_by = #{createBy}
    </update>
</mapper>

